body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5rem;
    margin: 20px 0;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 20px;
}

.button-group, .action-group {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

mat-form-field {
    margin-bottom: 20px;
    width: 300px;
}

button {
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[color="warn"] {
    background-color: #ff5252;
    color: #fff;
}

button[color="warn"]:hover {
    background-color: #ff1744;
}

.actionButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #3f51b5;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.timePickerDiv {
    display: inline-block;
    margin-right: 10px;
}

::ng-deep ngx-material-timepicker-content{
    --body-background-color: #fff;
    --primary-font-family: 'Roboto',sans-serif;
    --button-color: #F44336 !important;
    --dial-active-color: #fff;
    --dial-inactive-color: rgba(255, 255, 255, .5);
    --dial-background-color: #F44336 !important;
    --dial-editable-active-color: #F44336 !important;
    --dial-editable-background-color: #fff;
    --clock-face-time-active-color: #fff;
    --clock-face-time-inactive-color: #6c6c6c;
    --clock-face-inner-time-inactive-color: #929292;
    --clock-face-time-disabled-color: #c5c5c5;
    --clock-face-background-color: #f0f0f0;
    --clock-hand-color: #F44336 !important;
}

mat-form-field[appearance="outline"] {
    margin: 0;
}

h3 {
    color: #d32f2f;
    margin-top: 20px;
}