<mat-toolbar color="warn">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()" [hidden]="!this.isLoggedIn()">
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <img class="logo" src='/assets/images/timelogLogo2.png'>
    <!-- <img class="logo" src='/assets/images/Bild1.png'> -->
    <span class="menu-spacer"></span>
    <ng-container>
      <button *ngIf="!this.isLoggedIn()" (click)="login()" [routerLink]="'/login'" mat-button>
        <mat-icon>login</mat-icon>
      </button>
      <button *ngIf="this.isLoggedIn()" (click)="logout()" [routerLink]="'/login'" mat-button>
        <mat-icon>logout</mat-icon>
      </button>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #sidenav mode="side">
    <mat-nav-list>
      <a mat-list-item  [routerLink]="'/stempeln'" (click)="sidenav.toggle()">Stempeln</a>
      <a mat-list-item  [routerLink]="'/stunden'" (click)="sidenav.toggle()">Stunden</a>
      <a mat-menu-item [matMenuTriggerFor]="notificationOfIllness">Krankmeldungen</a>
      <a mat-menu-item [matMenuTriggerFor]="vacations">Urlaube</a>
      <a mat-list-item  *ngIf="userIsAdmin" [routerLink]="'/mitarbeiter'" (click)="sidenav.toggle()">Mitarbeiter</a>
    </mat-nav-list>
  </mat-drawer>
  <ng-content></ng-content>
</mat-drawer-container>

<mat-menu #vacations="matMenu">
  <button mat-menu-item [routerLink]="'/urlaub'" (click)="sidenav.toggle()">Meine Urlaube</button>
  <button mat-menu-item [routerLink]="'/urlaub/antrag'" (click)="sidenav.toggle()">Urlaubsantrag</button>
  <button mat-menu-item *ngIf="userIsAdmin" [routerLink]="'/urlaub/antrag/admin'" (click)="sidenav.toggle()">Urlaubsanträge | Admin</button>
</mat-menu>

<mat-menu #notificationOfIllness="matMenu">
  <button mat-menu-item [routerLink]="'/krankmeldung'" (click)="sidenav.toggle()">Meine Krankmeldungen</button>
  <button mat-menu-item [routerLink]="'/krankmeldung/antrag'" (click)="sidenav.toggle()">Krankmeldung</button>
  <button mat-menu-item *ngIf="userIsAdmin" [routerLink]="'/krankmeldung/antrag/admin'" (click)="sidenav.toggle()">Krankmeldungen | Admin</button>
</mat-menu>