<div class="content">
    <h1>Urlaubsantrag</h1>
    <br>
    <p>Datumsbereich für den Urlaub auswählen:</p>
    <mat-form-field color="warn">
        <mat-label>Datumsbereich auswählen</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date" [(ngModel)]="startDate">
          <input matEndDate placeholder="End date" [(ngModel)]="endDate">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <mat-divider></mat-divider>
    <p>Ich, <b>{{nameOfEmployee}}</b>, beantrage Urlaub von <b>{{getDateAsString(startDate)}}</b> bis <b>{{getDateAsString(endDate)}}</b>. Das entsprechen <b>{{getVacationDaysAsString()}}</b> Urlaubstage.</p>
    <button mat-raised-button color="warn" (click)="addClicked()">Bestätigen</button>
</div>