<h1 mat-dialog-title class="dialog-title">
  <span *ngIf="!isConfirm" [class]="className">{{iconString}}</span>
  <span *ngIf="isConfirm" [class]="className">help_outline</span>
  {{messageData.title}}
</h1>
<div mat-dialog-content class="dialog-content">{{messageData.content}}</div>
    <div mat-dialog-actions class="dialog-actions">
        <button *ngIf="isConfirm" mat-raised-button (click)="onConfirm()" >Bestätigen</button>
        <button color="warn" mat-raised-button (click)="onCancel()">Schließen</button>
</div>
