
<div class="content">
    <h1><b>Mitarbeiter hinzufügen</b></h1>
    <mat-form-field class="input" color="warn">
      <mat-label>Vorname</mat-label>
      <input matInput [(ngModel)]="data.firstName">
    </mat-form-field>
    <br>
    <mat-form-field color="warn">
      <mat-label>Nachname</mat-label>
      <input matInput [(ngModel)]="data.lastName">
    </mat-form-field>
    <br>
    <mat-form-field color="warn">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="data.email">
    </mat-form-field>
    <br>
    <mat-form-field color="warn">
      <mat-label>Telefonnummer</mat-label>
      <input matInput [(ngModel)]="data.phoneNumber">
    </mat-form-field>
    <br>
    <mat-form-field color="warn">
      <mat-label>Sozialversicherungsnummer</mat-label>
      <input matInput [(ngModel)]="data.socialSecurityNumber">
    </mat-form-field>
    <br>
    <mat-form-field color="warn">
      <mat-label>Anzahl der Kinder</mat-label>
      <input matInput type="number" [(ngModel)]="data.numberOfKids">
    </mat-form-field>
    <br>
    <mat-form-field color="warn">
      <mat-label>Select an option</mat-label>
      <mat-select [(value)]="data.employeeRole">
        <mat-option value="User">User</mat-option>
        <mat-option value="Admin">Admin</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field color="warn">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="data.password">
    </mat-form-field>
    <div mat-dialog-actions>
      <button color="warn" mat-raised-button (click)="onAddClick()">Hinzufügen</button>
    </div>
</div>

